.animate {}

[data-animate] {
	animation-name: biba, boba;
	animation-duration: 1s, 1s;
	animation-fill-mode: both;
	animation-iteration-count: 1, 1;
	animation-play-state: paused;
	animation-direction: normal;
	position: relative;

	@keyframes biba {
		0% {
			opacity: 1;
		}

		50% {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	@keyframes boba {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(360deg);
		}
	}
}