.icon,
%icon {
	width: 24px;
	height: 24px;
	display: flex;
	transition: all 0.3s ease;
	border: none;
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	// background: $black;
	flex-shrink: 0;
	@include transition-base;

	svg,
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&-arrow-down {
		mask-image: url(/src/assets/static/img/icon/arrow-down.svg);
	}

	&-arrow-right {
		mask-image: url(/src/assets/static/img/icon/arrow-right.svg);
	}

	&-arrow-up {
		mask-image: url(/src/assets/static/img/icon/arrow-up.svg);
	}

	&-arrow-left {
		mask-image: url(/src/assets/static/img/icon/arrow-left.svg);
	}
}