.slider {
	background: #00000020;
	--offset: calc(50vw - var(--slider-width) / 2);

	&__track {
// overflow-y: clip;
	}

	&__list {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		margin: 0 calc(var(--offset) * -1);
		scroll-padding: 0 var(--offset);
		padding: 0 var(--offset);
		margin-bottom: -100px;
		padding-bottom: 100px;
	}

	&__slide {
		border: 1px dashed grey;
		scroll-snap-align: start;
		min-width: calc(100% / var(--perPage, 1));
		width: calc(100% / var(--perPage, 1));
	}

	&__pagination {
		display: flex;

		&__page {
			display: flex;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background: #000;
			&.active{
				background: red;
			}
		}
	}
}

.container {}