.slider {
	background: #00000020;
	--offset: calc(50vw - var(--slider-width) / 2);

	&__track {
	}

	&__list {
		display: flex;
		overflow: auto;
		scroll-snap-type: x mandatory;
		margin: 0 calc(var(--offset) * -1);
		scroll-padding: 0 var(--offset);
		padding: 0 var(--offset);
	}

	&__slide {
		border: 1px dashed grey;
		scroll-snap-align: start;
		min-width: calc(100% / var(--perPage, 1));
		width: calc(100% / var(--perPage, 1));
	}
}

.container {}