.spoiler {
	$parent: &;

	&__content {
		overflow: hidden;
		max-height: 0;
		@include transition-base;
	}

	&__toggler {
		cursor: pointer;
		user-select: none;

		.icon {
			@include transition-base;
		}
	}

	&--mobile {
		> {
			#{$parent}__content {
				@media (min-width: $mobile) {
					max-height: initial;
				}
			}

			#{$parent}__toggler {
				@media (min-width: $mobile) {
					pointer-events: none;
				}
			}
		}
	}

	&--is-opened {
		> #{$parent}__toggler {
			.icon {
				transform: scaleY(-1);
			}
		}

		&#{$parent}--hard {
			> {
				#{$parent}__content {
					max-height: unset;
				}
			}
		}

		#{$parent}__when-closed {
			&:not(#{$parent} #{$parent} *) {
				display: none !important;
			}
		}
	}

	#{$parent} {
		&--is-opened {
			#{$parent}__when-closed {
				display: none !important;
			}
		}

		&:not(&--is-opened) {
			#{$parent}__when-opened {
				display: none !important;
			}
		}
	}
}