$parent: ".spoiler";
$toggler: #{$parent}__toggler;
$content: #{$parent}__content;
$initial: #{$parent}__initial;
$inner: #{$parent}__inner;
$final: #{$parent}__final;
$flipper: #{$parent}__flipper;

#{$content} {
	overflow: hidden;
	display: grid;
	grid-template-rows: minmax(0, 0);
	min-height: var(--initial-height, 0);
	transition: var(--transition, min-height var(--transition-duration, 0.3s) ease);

	&.is-active {
		min-height: var(--scroll-height, 9999px);
		grid-template-rows: minmax(var(--scroll-height, 9999px), min-content);
		transition: var(--transition, min-height var(--transition-duration, 0.3s) ease, grid-template-rows 0s var(--transition-duration, 0.3s));
	}
}

#{$toggler} {
	cursor: pointer;
	user-select: none;
}

#{$parent},
#{$toggler},
#{$content} {
	&.is-active {
		#{$flipper} {
			transform: scaleY(-1);
		}

		#{$initial} {
			display: none;
		}

		#{$final} {
			display: block;
		}
	}

	&:not(.is-active) {
		#{$initial} {
			display: block;
		}

		#{$final} {
			display: none;
		}
	}
}