.spoiler {
	&-content {
		overflow: hidden;
		@include transition-base;
		max-height: 0;
	}

	&-toggler {
		width: 100%;
		cursor: pointer;
		user-select: none;

		.icon {
			@include transition-base;
		}

		a {
			display: flex;
			align-items: center;

			.icon {
				margin-left: 4px;
			}
		}
	}

	&.spoiler-opened &-toggler {
		.icon {
			transform: scaleY(-1);
		}

		&-initial {
			display: none !important;
		}
	}

	&:not(.spoiler-opened) {
		.when-opened {
			display: none !important;
		}
	}
}