<!DOCTYPE html>
<html lang="ru">
	<%- include('/src/assets/ejs/head') %>

	<body>
		<%- include('/src/assets/ejs/header') %>
		<main>
			<h1>Hello world</h1>
		</main>
		<%- include('/src/assets/ejs/footer') %>
	</body>

</html>