<!DOCTYPE html>
<html lang="ru">
	<%- include('/head') %>

	<body>
		<%- include('/header') %>
		<main>
			<h1>Hello world</h1>
			<div class="test">
				<input type="checkbox" class="test__controller">
				<div class="test__toggler">
					biba
				</div>
				<div class="test__wrapper">
					<div class="test__content">
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est nam possimus voluptate corrupti porro impedit sequi cum dolorem? Sit dolores commodi eius fugit reiciendis doloribus illo ab accusantium odit repellat! Harum odio aspernatur perspiciatis aliquid? Nulla quo distinctio omnis cupiditate, laborum iste pariatur saepe officiis voluptas delectus expedita, nesciunt commodi debitis voluptatem illum ipsam iusto aspernatur itaque blanditiis quasi dignissimos facilis error deserunt. Nemo, tempore aliquid! Consequatur ut illum veritatis similique, impedit ipsum inventore sed, error amet quo ad? Fuga aliquam, at neque natus aliquid similique fugit odit reprehenderit temporibus mollitia nemo vero. Molestias recusandae enim libero tempora quod voluptate aspernatur pariatur assumenda repellat explicabo veniam magni eos itaque at porro, quasi sint amet perspiciatis quibusdam possimus sit? Temporibus necessitatibus distinctio modi, repudiandae, nam at beatae eveniet enim architecto a fugit cupiditate labore incidunt libero reiciendis saepe possimus doloribus? Nisi ullam qui quasi dolorum consequatur accusamus, ab ipsa sequi. Omnis facere sunt iste illum, voluptates culpa! Sint quisquam corrupti veniam, iste dolorum adipisci sit nisi error! Dolore eos porro repudiandae in, excepturi quae corrupti blanditiis alias corporis sint deserunt quidem ducimus, tenetur, eum et ipsam unde debitis pariatur impedit! Similique dolore, facere, sequi illum voluptate fugiat officia aliquam culpa nemo impedit quo atque totam? Corrupti enim assumenda repellat consequuntur. Pariatur debitis vero, rem atque quam itaque voluptates fugiat possimus. Voluptatibus ab non eligendi deserunt nulla perferendis aspernatur dolore cum animi, tempore voluptates, explicabo temporibus quos delectus enim distinctio modi totam magnam neque. Magnam facere, molestiae deleniti dolorem quas praesentium perferendis nihil? Pariatur magni corrupti saepe quae! Rem maiores, alias reprehenderit voluptates error similique tenetur nam enim rerum omnis dolor possimus tempore recusandae magnam voluptatum adipisci. Aspernatur ipsam iusto inventore illum vitae. Molestias corrupti molestiae eveniet aspernatur vel. Nihil ratione dolorum, error maxime voluptates possimus quidem modi veritatis libero omnis. Quos nostrum nemo vero. Tenetur eum recusandae repellendus rerum ratione? Voluptas unde fugiat animi in aliquam quo quis rem nisi voluptatem atque, reiciendis id, sunt soluta dicta optio obcaecati sapiente officia. Debitis nesciunt alias vitae aperiam velit. Perspiciatis illo exercitationem quidem excepturi fugiat ea. Ducimus, deserunt! Quis, consequatur fuga iusto esse unde pariatur fugiat praesentium. A alias deserunt est asperiores iure odit, odio quam aut dolor illum fugit esse, ut dolorum similique perferendis iusto voluptatum eos sed ratione quis? Cupiditate quasi odio, illum, praesentium itaque quo nihil minima officia error adipisci incidunt ipsum reprehenderit perferendis obcaecati nam ducimus quae distinctio? Enim!
					</div>
				</div>
			</div>
		</main>
		<%- include('/footer') %>
	</body>

</html>