<!DOCTYPE html>
<html lang="ru">
	<%- include("/head") %>

	<body>
		<main>
			<h1>ВЫПУСКНАЯ КВАЛИФИКАЦИОННАЯ РАБОТА: МАГИСТРАТУРА</h1>
			<h2>Лазарова Л.Б., Каирова Ф.А.</h2>
			<div class="affiliation">
				<span>Аффилиация: </span>
				<b>Финансовый университет при Правительстве Российской Федерации, Владикавказский ф-л</b>
			</div>
			<div class="book">
				<img src="/src/assets/static/img/book.webp" alt="">
				<div class="book__text">
					<p>Учебное пособие содержит рекомендации и требования, предъявляемые к структуре и содержанию выпускных квалификационных работ агистрантов, основные вопросы организации их выполнения. Особое внимание уделено решению расчетно-аналитических выпускных квалификационных работ.</p>
					<p>Соответствует требованиям федеральных государственных образовательных стандартов высшего образования последнего поколения. Предназначено для оказания методической помощи в процессе выполнения расчетно-аналитической части выпускной квалификационной работы студентам магистратуры, обучающимся по направлению подготовки 38.04.08 «Финансы и кредит», а также научным руководителям выпускных квалификационных работ, рецензентам, членам государственных экзаменационных комиссий.</p>
				</div>
			</div>
			<div class="footer">
				<div class="okso">
					<b>ОКСО</b> 38.04.08
				</div>
				<div class="info"> Кол-во страниц: 200 | Артикул: 794190.01.01 </div>
				<a href="#" target="_blank" class="goto"><b>Перейти к книге>>></b></a>
			</div>
		</main>
	</body>

</html>